
# Whitelist lib folder for GeometryEncoder
!Source/ThirdParty/UnrealGeometryEncoderLib/lib/**

# Ignore downloaded PRT
Source/ThirdParty/PRT/include/**
Source/ThirdParty/PRT/bin/**
Source/ThirdParty/PRT/lib/**
