Language                        : Cpp
BasedOnStyle                    : LLVM
IndentWidth                     : 4
TabWidth                        : 4
UseTab                          : Always
Standard                        : Cpp11
BreakBeforeBraces               : Allman
PointerAlignment                : Left
AccessModifierOffset            : -4
AllowShortFunctionsOnASingleLine: None
ColumnLimit                     : 180
ReflowComments                  : true
FixNamespaceComments            : true
SpacesInAngles                  : false
NamespaceIndentation            : All
IncludeCategories:
  - Regex:           'generated.h'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
