Language                                      : Cpp
BasedOnStyle                                  : LLVM
IndentWidth                                   : 4
TabWidth                                      : 4
UseTab                                        : Always
Standard                                      : Cpp11
BreakBeforeBraces                             : Allman
PointerAlignment                              : Left
AccessModifierOffset                          : -4
ColumnLimit                                   : 150
ReflowComments                                : true
FixNamespaceComments                          : true
AlwaysBreakTemplateDeclarations               : Yes
NamespaceIndentation                          : Inner
AllowShortFunctionsOnASingleLine              : Empty
AllowShortLambdasOnASingleLine                : Inline
IncludeCategories:
  - Regex:           'generated.h'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
