#----------------------------------------------------------
# Developer Local Files
Local.uproject
Local/
*.local

#----------------------------------------------------------
# IDE Configuration Spaces

RiderLink/
.vscode/
.idea/
.vs/


#----------------------------------------------------------
# Solution Files

*.code-workspace
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb


#----------------------------------------------------------
# Unreal Engine Local Folders

**/Build/**
**/DerivedDataCache/**
**/Saved/**
**/Binaries/**
**/Intermediate/**


#----------------------------------------------------------
# Script Folders

__pycache__/
*.pyc


#----------------------------------------------------------
# Local Config Files

steamvr_ue_editor_app.json


#----------------------------------------------------------
# Compiled Object files

*.slo
*.lo
*.o
*.obj


#----------------------------------------------------------
# Precompiled Headers

*.gch
*.pch


#----------------------------------------------------------
# Compiled Dynamic libraries

*.so
*.dylib
*.dll


#----------------------------------------------------------
# Compiled Static libraries

*.lai
*.la
*.a
*.lib


#----------------------------------------------------------
# Executables

*.exe
*.out
*.app
*.ipa
*.msi


#----------------------------------------------------------
# Precompiled Assets

SourceArt/**/*.png
SourceArt/**/*.tga


#----------------------------------------------------------
# Whitelist PakBlacklist-<BuildConfiguration>.txt files

Build/*/**
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset


#----------------------------------------------------------
# Content files

*.zip
desktop.ini

#----------------------------------------------------------
# Deploy files

deploy/build_msi
